<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 
  <connectionStrings> 
      <add name="cn" connectionString="server=ariescontrol.cjvbmgesckla.us-east-2.rds.amazonaws.com;;
                                       port=3306;  
                                       username=kenneth;password=116390867;
                                       database=control; 
                                       SslMode=none"/>
  </connectionStrings>
</configuration>